  <h1>About myself</h1>


  <div class="Container">
    <p>This is my first project on rails, 
    making the first app it's quite hard for a nooby
    cause you need to know quite a lot of stuff how to
    create a scaffold, which generates everything for you
    or create a database model... and stuff like this
    </p>
  </div>     
